body{
font-family:Poppins;
margin:0;
background:#0f172a;
color:white;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
background:#020617;
}

.profile{
width:260px;
border-radius:50%;
}

.hero-text{
max-width:600px;
}

.buttons{
margin-top:20px;
}

.btn{
background:#6366f1;
padding:12px 25px;
border-radius:8px;
color:white;
text-decoration:none;
margin-right:10px;
}

.btn2{
background:#334155;
padding:12px 25px;
border-radius:8px;
color:white;
text-decoration:none;
}

.section{
padding:60px 80px;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.skill-card{
background:#1e293b;
padding:20px;
border-radius:10px;
}

video{
width:600px;
margin-top:20px;
border-radius:10px;
}

footer{
text-align:center;
padding:30px;
background:#020617;
}
