body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
}

.buttons a{
margin:10px;
padding:12px 25px;
background:#6366f1;
color:white;
border-radius:10px;
text-decoration:none;
}

section{
padding:80px 10%;
}

.skill-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.timeline-card{
background:#1e293b;
padding:30px;
border-radius:10px;
}

.project-card{
text-align:center;
}

form{
display:flex;
flex-direction:column;
max-width:500px;
}

input,textarea{
margin:10px 0;
padding:12px;
border-radius:6px;
border:none;
}

button{
background:#6366f1;
padding:12px;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}
